html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: yellow;
  font-weight: 600;
}
.fuccsoc {
  background-color: #0000ff60;
  color: green;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  width: 70vw;
  max-width: 500px;
  padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.sli {
  padding-left: 15px;
}

.sli a {
  display: block;
}

.d-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 0.5);
  animation-delay: calc(var(--animate-delay) * 0.5);
}

.d-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: calc(var(--animate-delay) * 1);
  animation-delay: calc(var(--animate-delay) * 1);
}

.d-15s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 1.5);
  animation-delay: calc(var(--animate-delay) * 1.5);
}

.d-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: calc(var(--animate-delay) * 2);
  animation-delay: calc(var(--animate-delay) * 2);
}

.d-25s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 2.5);
  animation-delay: calc(var(--animate-delay) * 2.5);
}

.d-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-delay: calc(var(--animate-delay) * 3);
  animation-delay: calc(var(--animate-delay) * 3);
}

.d-35s {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-delay: calc(var(--animate-delay) * 3.5);
  animation-delay: calc(var(--animate-delay) * 3.5);
}

.d-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-delay: calc(var(--animate-delay) * 4);
  animation-delay: calc(var(--animate-delay) * 4);
}
